<head>
  <title>CACCL App</title>

  <!-- Import Bootstrap -->
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  >

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>

  <!-- Bootstrap alert -->
  <div class="alert alert-dark text-center m-5">
    <!-- Title -->
    <h3>Scan to Attend</h3>

    <form method="POST">
      <input type="text" name="studentId" autofocus>
    </form>

  </div>

  <h3 id="welcome" class="alert alert-success text-center m-5">
    Welcome!
  </h3>

  <script type="text/javascript">
    $('#welcome').delay(1000).hide(200);
  </script>

</body>
