<head>
  <title>CACCL App</title>

  <!-- Import Bootstrap -->
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  >
</head>

<body>

  <!-- Bootstrap alert -->
  <div class="alert alert-dark text-center m-5">
    <!-- Title -->
    <h3>Create Event</h3>

    <form method="POST">
      <input type="text" name="eventTitle" placeholder="Event Title" autofocus>
    </form>
  </div>

</body>
